
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.landingPage{
  background-image: url('../Assets/landing1.jpg');
  height: 100vh;
  width: 100vw;
  background-size:100% 100%;
  padding: 3rem ;
  /* background-repeat: no-repeat; */

  nav{
    display: flex;
    justify-content: space-between;

    .logo{
        width: 30px;

        img{
            width:inherit;
        }
    }

    button{
        width: 8rem;
        height: 2rem;
        font-size: 1.4rem;
        border-radius: 20px;
        color: #0F044C;
        border: 2px solid #0F044C;

        
    }
}

.main{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
    justify-items: center;
   

    .blue{
        color: #141E61;
    }
    img{
        margin: 1rem;
    }
    
    
    button{
        width: 8rem;
        height: 3rem;
        font-size: 1.4rem;
        border-radius: 10px;
        margin-top: 3rem;
        border-radius: 20px;
        color: white;
        background-color: #141E61;
        margin-bottom: 1rem;
    }
      
    }
    
}

@media screen and (max-width: 480px){
    .landingPage{
        overflow: scroll;
    }

    h1{
        font-size: 3.7rem;
    }

}


